:root {
    --main: rgb(25, 148, 220);
}
body {
    text-align: center;
    margin: 0;
    background-color: rgb(43, 43, 43);
}
canvas {
    background-color: red;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    image-rendering: pixelated;
    z-index: 0;
    height: 100vh;
    width: calc(100vh * (16/9));
}
img {
    image-rendering: pixelated;
}
html {
    /* height: 100vh; */
    font-size: calc(100vh * (1 / 720));
}
.menu {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 1;
    height: 100vh;
    width: calc(100vh * (16/9));
    display: none;
    background-color: rgba(0,0,0,0.5);
    /* transition-duration: 300ms; */
}
.content {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
}
.content img.title {
    width: 500rem;
    margin: 10rem;
    user-select: none;
}
h1 {
    color: white;
    font-size: 45rem;
    margin: 0;
    text-decoration: 2px underline var(--main);
    margin-left: 10rem;
    font-weight: 900;
    font-family: 'quicksand',sans-serif;
    transition-duration: 300ms;
}
.play {
    margin: 10rem;
    padding: 0;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    transition-duration: 300ms;
    user-select: none;
}
#main, #story, #controls, #pause {
    display: none;
    transition-duration: 300ms;
    user-select: none;
}
.play img {
    width: 50rem;
    display: inline-block;
    vertical-align: middle;
    transition-duration: 300ms;
}
.play p {
    display: inline-block;
    vertical-align: middle;
    color: white;
    font-size: 35rem;
    margin: 0;
    margin-left: 10rem;
    font-weight: 600;
    font-family: 'quicksand',sans-serif;
    transition-duration: 300ms;
}
.button {
    margin: 20rem;
    padding: 0;
    cursor: pointer;
    transition-duration: 300ms;
    user-select: none;
}
.button img {
    width: 40rem;
    display: inline-block;
    vertical-align: middle;
    transition-duration: 300ms;
}
.button p {
    display: inline-block;
    vertical-align: middle;
    color: white;
    font-size: 25rem;
    margin: 0;
    margin-left: 10rem;
    font-weight: 600;
    font-family: 'quicksand',sans-serif;
    vertical-align: middle;
    transition-duration: 300ms;
}
.play:hover, .button:hover {
    transform: scale(1.2);
}
.play:hover p, .button:hover p {
    text-shadow: 3rem 3rem 0rem var(--main);
}
.play:hover img, .button:hover img {
    transform: rotate(-20deg) scale(1.1);
    box-shadow: 2rem 2rem 0rem var(--main);
}
p.story {
    color: rgb(182, 182, 182);
    font-size: 2vw;
    font-family: 'quicksand',sans-serif;
    font-weight: 600;
}

@media (max-width: calc(100vh * (16/9))) {
    .menu {
        width: 100vw;
        height: calc(100vw * (9 / 16));
    }
    canvas {
        width: 100vw;
        height: calc(100vw * (9 / 16));
    }
    html {
        font-size: calc(100vw * (9 / 16) * (1 / 720));
    }
}