.article, .articleEdit {
    width: calc(95vw - 50px);
    max-width: 650px;
    background-color: var(--foreground);
    box-shadow: var(--main) 5px 5px 0px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
    color: var(--text);
    transition-duration: 300ms;
    font-family: 'Quicksand', sans-serif;
}
.ql-editor {
    font-family: 'Quicksand', sans-serif;
}
.article h1, .ql-editor h1 {
    font-size: 27px !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    text-align: left;
}
.article h2, .ql-editor h2 {
    margin-top: 0 !important;
    margin-bottom: 13px !important;
    color: var(--mainText) !important;
    font-size: 15px !important;
    font-weight: 300 !important;
    text-align: left;
}
.article h3, .ql-editor h3 {
    margin-bottom: 5px !important;
    margin-top: 15px !important;
    font-size: 15px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    text-align: left;
}
.article p, .ql-editor p {
    margin-top: 0px !important;
    margin-bottom: 13px !important;
    font-size: 13px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    text-align: left;
}
.article ul, .ql-editor ul {
    margin-top: 0 !important;
    font-size: 13px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    text-align: left;
    list-style-position: inside !important;
    list-style-type: disc !important;
}
.article ol, .ql-editor ol {
    margin-top: 0 !important;
    font-size: 13px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    text-align: left;
    list-style-position: inside !important;
    list-style-type: disc !important;
}
.article li a {
    color: var(--text);
    word-wrap: break-word;
}
.article a, .ills a, .docsBody a, .ql-editor a {
    color: var(--mainText) !important;
}
.article h4, .ql-editor h4 {
    color: var(--mainText) !important;
    margin-bottom: -18px !important;
    font-size: 22px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    font-weight: 300 !important;
    margin-top: 0 !important;
    text-align: left;
}
.article h5, .ql-editor h5 {
    color: var(--mainText) !important;
    margin-top: -8px !important;
    font-size: 12px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    font-weight: 500 !important;
    margin-bottom: 5px !important;
    text-align: left;
}
.article input, .article textarea, .articleEdit input {
    width: calc(95vw - 50px - 6px - 40px);
    max-width: calc(650px - 6px - 40px);

    margin-left: 10px;
    margin-right: 10px;
    border: solid var(--background) 3px;
    height: 20px;
    border-radius: 13px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Quicksand', sans-serif;
    background-color: var(--background);
}
.article input:hover, .article textarea:hover, .articleEdit input:hover {
    border: solid var(--mainText) 3px;
}
.article input:focus, .article textarea:focus, .articleEdit input:focus {
    outline: none;
    border: solid var(--mainText) 3px;
}
.articleEdit input {
    max-width: 200px !important;
}
.article textarea {
    padding-top: 5px;
    padding-bottom: 5px;
    height: 130px;
    resize: none;
}
.article button {
    float: right;
    background-color: var(--main);
    border: solid var(--main) 3px;
    color: white;
    width: 100px;
    height: 30px;
    border-radius: 18px;
    cursor: pointer;
    transition-duration: 300ms;
}
.article button:hover, .articleEdit button.save:hover {
    background-color: var(--background);
    color: var(--text);
}
.articleEdit button.save {
    background-color: var(--main);
    border: solid var(--main) 3px;
    color: white;
    width: 100px;
    height: 30px;
    border-radius: 18px;
    cursor: pointer;
    transition-duration: 300ms;
    margin: 15px;
}
.article img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    border-radius: 20px;
    overflow: hidden;
}
.article img.logo {
    width: 50px;
    border-radius: 0;
    /* margin-bottom: 5px; */
}
.article img.small {
    width: 160px;
}
.article img.banner {
    width: calc(95vw - 50px - 20px);
    max-width: calc(650px - 20px);
    margin-bottom: 30px;
}
.article h6, .ql-editor h6 {
    text-align: center;
    color: var(--mainText) !important;
    margin-top: 0 !important;
    margin-bottom: 10px !important;
    font-weight: 500 !important;
}
.articleEdit .editorBox {
    width: 100%;
}