::-webkit-scrollbar {
    width: 10px;
    background-color: var(--white);
}
::-webkit-scrollbar-thumb {
    background: var(--elBlue); 
    /* border-radius: 5px; */
}
::-webkit-scrollbar-thumb:hover {
    background: var(--lBlue);
}
::selection {
    color: black;
    background: var(--hlBlue);
}
:root {
    --elGrey: #ececec;
    --eelGrey: rgba(255, 255, 255,0.5);

    --bgBlue: #dafffb;
    --acBlue: #dafffb;
    --hlBlue: #a6fdf4;
    --elBlue: #12ddc5;
    --lBlue: #10b9a9;
    --textlBlue: #10b9a9;

    --text: #000000;
    --alert: red;

    --white: white; 
    --smoke: whitesmoke
}
body {
    background-image: linear-gradient(var(--white), var(--bgBlue));
    margin-top: 50px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    background-attachment: fixed;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    min-height: calc(100vh - 50px);

    display: flex;
    flex-direction: column;
}
p { color: var(--text);}
.icon {
    width: 100px;
}
.icon.small {
    width: 50px;
}
.heading {
    max-width: 400px;
    width: calc(100vw - 40px);
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    color: var(--text);
}
.wholeDocument {
    flex: 1;
}
.footer {
    background-color: var(--lBlue);
    width: 100%;
    height: fit-content;
    bottom: 0;
    position: relative;

    transition-duration: 300ms;
}
.footer .bunch {
    height: fit-content;
    border-bottom: 1px solid rgba(255, 255, 255,0.5);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.footer a {
    color: white;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: underline;
    transition-duration: 300ms;
    cursor: pointer;
    padding: 8px;
    font-size: 13px;
}
.footer p {
    color: white;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0;
    margin-top: 0;
    padding: 8px;
    font-size: 13px;
}
.footer a:hover {
    font-weight: 900;
    transform: translate(0, -2px);
    /* color: black; */
}
@keyframes scrollWide {
    0% { max-width: 0px; }
    100% { max-width: 700px; }
}
.darkToggle {
    right: 0;
    bottom: 0;
    position: absolute;
    margin-left: auto;
    height: 100%;
}
.darkToggle p {
    font-size: 12px;
    color: var(--acBlue);
    margin: 5px;
    margin-top: 12px;
    padding: 0;
    display: block;
}
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--acBlue);
    transition: .4s;
    border-radius: 34px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: var(--lBlue);
    transition: .4s;
    border-radius: 50%;
}
input:checked + .slider:before {
    transform: translateX(20px);
}
@media screen and (max-width: 700px) {
    .darkToggle {
        right: unset;
        bottom: unset;
        position: relative;
        margin-left: unset;
        height: unset;
        padding: 8px;
    }
    .darkToggle p, .darkToggle label{
        display: inline-block;
        vertical-align: middle;
        margin-top: 0;
    }
}

.navbar {
    max-width: 700px;
    height: 40px;
    background-color: var(--elGrey);
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid var(--elGrey);
    /* overflow: hidden; */
    z-index: 1;
    /* animation-name: fadeIn; */
    animation-duration: 1s;
    transition-duration: 300ms;
    user-select: none;
}
.nbItem {
    width: calc((700px / 4) - 8px);
    max-width: calc((100vw / 4) - 16px);
    margin-left: 2px;
    margin-right: 2px;

    font-size: 15px;
    font-weight: 500;
    height: 40px;
    border-radius: 20px;
    line-height: 40px;
    background-color: none;
    transition-duration: 300ms;
    list-style-type: none;
    display: inline-block;
    cursor: pointer;
    overflow: hidden;
    color: var(--text);
}
.grown {
    font-size: 30px;
}
.nbItem:hover {
    background-color: var(--eelGrey);
}
.selected, .selected:hover {
    background-color: var(--elBlue);
    transform: translate(0px, -10px);
}
.nbSecondary {
    text-decoration: underline var(--elBlue);
    font-size: 20px;
    color: var(--text);
}
.linkBox {
    margin-top: 30px;
    padding: 10px;
    margin-bottom: 30px;
}

@keyframes fadeIn {
    0% { opacity: 0; transform: translate(0px, -20px); }
    100% { opacity: 1; transform: translate(0px, 0px); }
}

.link {
    max-width: 400px;
    width: calc(100vw - 40px);
    height: 150px;
    background-color: var(--white);
    margin: 10px;
    display: none;
    border-radius: 30px;
    vertical-align: middle;
    text-align: left;
    position: relative;
    transition-duration: 300ms;
    overflow: hidden;
    color: var(--text);
    cursor: pointer;
    animation: fadeIn 1s;
    animation-fill-mode:backwards;
    user-select: none;
}
.link img, .alink img {
    position: absolute;
    filter: opacity(0.5) brightness(1.1);
    top: 50%;
    transform: translateY(-50%);
    width: calc(100vw - 40px);
    max-width: 400px;
    image-rendering: pixelated;
}
.link img.top, .alink img.top {
    top: 0;
    transform: translateY(0);
}
.link .topText, .alink .topText {
    position: absolute;
}
.link h1, .alink h1 {
    padding-left: 25px;
    font-size: 17px;
    margin-top: 20px;
    margin-bottom: 0;
    transition-duration: 300ms;
    color: var(--text);
}
.link p:not(.linkButton p), .alink p:not(.linkButton p) {
    font-size: 14px;
    margin-top: 0;
    padding-left: 25px;
    font-weight: 500;
    transition-duration: 300ms;
    color: var(--text);
}
.link .date, .alink .date {
    position: absolute;
    bottom: 0;
    text-align: right;
    padding-right: 25px;
    color: var(--text);
}
.link.invis {
    transition-duration: 0s;
    pointer-events: none;
    opacity: 0;
}
.link:hover:not(.active) {
    box-shadow: var(--lBlue) 6px 6px 0px;
    transform: translate(-3px, -3px);
}

.alink {
    max-width: 400px;
    width: calc(100vw - 40px);
    height: 150px;
    background-color: var(--white);
    margin: 10px;
    border-radius: 30px;
    text-align: left;
    position: fixed;
    overflow: hidden;
    color: var(--black);
    cursor:auto;
    transition-duration: 300ms;
    box-shadow: black 0px 0px 20px;
    user-select: none;
}
.alink:not(.shrinking) img {
    height: 460px;
    position: absolute;
    object-fit: cover;
}
.alink:not(.shrinking) .topText {
    position: absolute;
}
.alink:not(.shrinking) h1 {
    font-size: 25px;
}
.alink:not(.shrinking) p {
    font-size: 17px;
    font-weight: 500;
}
.alink:not(.shrinking) .date {
    padding-right: 28px;
}

.linkButton {    
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
}
.linkButton p {
    padding: 5px;
    line-height: 30px;
    height: 30px;
    width: 90px;
    border-radius: 25px;
    font-size: 15px;
    background-color: var(--lBlue);
    margin: 0px 3px;
    text-align: center;
    color: white;
    transition-duration: 300ms;
    display: inline-block;
    vertical-align: top;
    font-size: 20px;
}
.linkButton p.square {
    width: 30px;
    background-color: var(--elGrey);
    color: var(--textlBlue);
}
.linkButton p.square:hover {
    background-color: var(--bgBlue);
}
.linkButton p i {
    width: 20px;
    height: 20px;
}
.linkButton p:hover {
    background-color: var(--elBlue);
    transform: translate(0px,-7px);
    /* box-shadow: #000000 0px 5px 5px; */
}
@keyframes fadeAcross {
    0% { opacity: 0; transform: translate(20px, 0px); }
    100% { opacity: 1; transform: translate(0px, 0px); }
}

.changeItem {
    /* animation-name: fadeAcross; */
    animation-duration: 1s;
    animation-fill-mode: backwards;
}

.changeItem.important {
    background-color: #41f7e42d;
    /* background-color: #2cd20b38; */
    padding: 5px;
    padding-top: 15px;
    border-radius: 20px;
    margin-bottom: 13px;
}

.changeItem.important p.span {
    color: var(--alert);
    font-weight: 600;
    margin-bottom: -15px !important;
    text-align: left;
}

/* .changeItem.important h3 {
    margin-top: 0px;
} */

.goHome {
    font-size: 13px;
    color: var(--textlBlue);
    transition-duration: 300ms;
    padding-left: 10px;
    padding-right: 10px;
    width: fit-content;
}
.goHome a {
    color: var(--textlBlue);
}
.goHome:hover {
    font-weight: 900;
    padding-left: 20px;
}

.illWindow {
    width: 90vw;
    max-width: calc(750px + 7 * 20px);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: -10px;
}
.illWindow a {
    color: var(--textlBlue);
}

.illContainer {
    max-width: 270px;
    width: calc(90vw - 10px);
    height: calc(90vw - 10px);
    max-height: 270px;

    position: relative;
    border-radius: 20px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    margin: 10px;

    transition-duration: 300ms;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: backwards;
}
.contentContainer {
    border: solid var(--lBlue) 5px;
    width: calc(100% - 10px);
    position: relative;
}
.illContainer:hover {
    transform: translate(-5px, -5px);
    box-shadow: var(--lBlue) 5px 5px 0px;
}
.illContainer .imageContainer {
    width: 100%;
    height: 100%;
}
.illContainer img {
    height: 100%;
    width: 100%;
    position: relative;
    object-fit: cover;
    object-position: center;
    transition-duration: 300ms;
}
.illOverlay {
    transition-duration: 300ms;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: left;
    background-color: rgba(0,0,0,0.4);
}
.illOverlay h1 {
    color: white;
    position: absolute;
    margin: 0;
    bottom: 0;
    font-weight: 300;
    font-size: 40px;
    padding: 10px;
    text-shadow: #000000 2px 2px 0px;
}
.illOverlay p {
    color: white;
    position: absolute;
    text-align: right;
    margin: 0;
    bottom: 0;
    right: 0;
    font-weight: 300;
    font-size: 20px;
    padding: 10px;
    text-shadow: #000000 2px 2px 0px;
}
.illOverlay p i {
    font-weight: 100;
    cursor: pointer;
    margin: 5px;
}
.illOverlay p a {
    color: white;
    text-decoration: none;
}
.illOverlay.arrows {
    opacity: 1;
    background-color: rgba(0,0,0,0);
    /* width: unset;
    height: unset; */
    pointer-events: none;
}
.illOverlay.arrows p {
    bottom: unset;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    pointer-events: all;
    color: rgba(255,255,255,0.5);
    text-shadow: none;
}
.illOverlay.arrows i:hover {
    color: rgba(255,255,255,1);
}
.illOverlay.arrows p.left {
    left: 0;
    right: unset;
    width: unset;
}
.illOverlay.arrows p.right {
    left: unset;
    width: unset;
    right: 0;
}
.illOverlay.arrows p i {
    margin: 0;
}
.illContainer:hover .illOverlay {
    opacity: 1;
}
.illContainer:hover img {
    transform: scale(1.1);
    /* filter: blur(10px); */
}
.illsCover {
    background-color: rgba(0,0,0,0.9);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    display: none;

    transition-duration: 300ms;
    animation-name: fadeIn;
    animation-duration: 500ms;
    animation-fill-mode: backwards;
}
.illsCover .content {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}
.illsCover .content.square {
    width: calc(90vw + 10px);
    max-width: calc(80vh + 10px);
}
.illsCover .content.wide {
    width: calc(90vw + 10px);
    max-width: calc((80vh * (16 / 9)) + 10px);
}
.illsCover .content h1, .illsCover .content p {
    color: white;
    font-weight: 300;
    font-size: 40px;
    padding: 10px;
    margin: 0;
    padding: 0;
    text-align: left;
    width: 49%;
    display: inline-block;
}
.illsCover .content p {
    font-size: 20px;
    text-align: right;
}
.illsCover .content p i {
    margin: 5px;
    cursor: pointer;
}
.illsCover .illOverlay p i {
    color: rgba(255, 255, 255,0.5);
}

.illsCover .content a {
    color: white;
    text-decoration: none;
}
.illsCover img {
    width: 100%;
}
.stopScrolling {
    height: 100%;
    overflow: hidden;
}
.hidden {
    display: none;
}
.visible {
    display: block;
    /* transition-duration: 300ms;
    animation-name: fadeIn;
    animation-duration: 500ms;
    animation-fill-mode: backwards; */
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
}
canvas {
    position: fixed;
    z-index: 1000;
    pointer-events: none;
    top: 0;
    left: 0;
}
.docsBody {
    /* background-color: green; */
    width: calc(95vw - 50px);
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    color: var(--text);
    margin-bottom: 50px;
    background-color: var(--smoke);
    box-shadow: var(--lBlue) 5px 5px 0px;
    border-radius: 20px;
    padding: 25px;
    transition-duration: 300ms;
}
.docsHead {
    /* background-color: red; */
    width: 100%;
}
.docsHead img {
    width: 50px;
    display: inline-block;
    vertical-align: middle;
}
.docsHead h1 {
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
}
.docsHead p {
    margin-top: 0;
    color: var(--text);
}
.docsList {
    /* background-color: blue; */
    text-align: center;
}
.docsList div {
    width: 100px;
    height: 100px;
    background-color: var(--white);
    border: rgb(141, 141, 141) 3px solid;
    display: inline-block;
    vertical-align: middle;
    margin: 8px;
}
.docsList div p {
    margin-top: 8px;
    font-size: 13px;
    color: var(--text);
    text-decoration: underline var(--text);
}
.docsList div i {
    color: var(--text);
    font-size: 40px;
    margin-top: 10px;
}
br { user-select: none; }