::-webkit-scrollbar {
    width: 10px;
    background-color: var(--white);
}
::-webkit-scrollbar-thumb {
    background: var(--elBlue); 
    /* border-radius: 5px; */
}
::-webkit-scrollbar-thumb:hover {
    background: var(--lBlue);
}
::selection {
    color: black;
    background: var(--hlBlue);
}
:root {
    --elGrey: #ececec;
    --eelGrey: rgba(255, 255, 255,0.5);

    --bgBlue: #dafffb;
    --acBlue: #dafffb;
    --hlBlue: #a6fdf4;
    --elBlue: #12ddc5;
    --lBlue: #10b9a9;
    --textlBlue: #10b9a9;

    --text: #000000;

    --white: white; 
    --smoke: whitesmoke
}
body {
    background-image: linear-gradient(var(--white), var(--bgBlue));
    margin-top: 50px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    background-attachment: fixed;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    transition-duration: 3000ms;
}
p { color: var(--text);}
.icon {
    width: 100px;
}
.icon.small {
    width: 50px;
}
.heading {
    max-width: 400px;
    width: calc(100vw - 40px);
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    color: var(--text);
}
.footer {
    background-color: var(--lBlue);
    width: 100%;
    /* height: 70px; */
    float: bottom;
    /* position: fixed; */
    /* bottom: 0; */
    padding-bottom: 10px;
    /* padding-top: 10px; */
    transition-duration: 300ms;
}
.footer.snap {
    position: fixed;
    bottom: 0;
}
.footer a {
    color: white;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    text-decoration: underline;
    transition-duration: 300ms;
    cursor: pointer;
}
.footer p {
    color: white;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 0;
}
.footer a:hover {
    font-weight: 900;
    transform: translate(0, -2px);
    /* color: black; */
}
@keyframes scrollWide {
    0% { max-width: 0px; }
    100% { max-width: 700px; }
}

.navbar {
    max-width: 700px;
    height: 40px;
    background-color: var(--elGrey);
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid var(--elGrey);
    /* overflow: hidden; */
    z-index: 1;
    /* animation-name: fadeIn; */
    animation-duration: 1s;
    transition-duration: 300ms;
    user-select: none;
}
.nbItem {
    width: calc((700px / 4) - 8px);
    max-width: calc((100vw / 4) - 16px);
    margin-left: 2px;
    margin-right: 2px;

    font-size: 15px;
    font-weight: 500;
    height: 40px;
    border-radius: 20px;
    line-height: 40px;
    background-color: none;
    transition-duration: 300ms;
    list-style-type: none;
    display: inline-block;
    cursor: pointer;
    overflow: hidden;
    color: var(--text);
}
.grown {
    font-size: 30px;
}
.nbItem:hover {
    background-color: var(--eelGrey);
}
.selected, .selected:hover {
    background-color: var(--elBlue);
    transform: translate(0px, -10px);
}
.nbSecondary {
    text-decoration: underline var(--elBlue);
    font-size: 20px;
    color: var(--text);
}
.linkBox {
    margin-top: 30px;
    padding: 10px;
    margin-bottom: 50px;
}

@keyframes fadeIn {
    0% { opacity: 0; transform: translate(0px, -20px); }
    100% { opacity: 1; transform: translate(0px, 0px); }
}

.link {
    max-width: 400px;
    width: calc(100vw - 40px);
    height: 150px;
    background-color: var(--white);
    margin: 10px;
    display: none;
    border-radius: 30px;
    vertical-align: middle;
    text-align: left;
    position: relative;
    transition-duration: 300ms;
    overflow: hidden;
    color: var(--text);
    cursor: pointer;
    animation: fadeIn 1s;
    animation-fill-mode:backwards;
    user-select: none;
}
.link img, .alink img {
    position: absolute;
    filter: opacity(0.5) brightness(1.1);
    top: 50%;
    transform: translateY(-50%);
    width: calc(100vw - 40px);
    max-width: 400px;
    image-rendering: pixelated;
}
.link img.top, .alink img.top {
    top: 0;
    transform: translateY(0);
}
.link .topText, .alink .topText {
    position: absolute;
}
.link h1, .alink h1 {
    padding-left: 25px;
    font-size: 17px;
    margin-top: 20px;
    margin-bottom: 0;
    transition-duration: 300ms;
    color: var(--text);
}
.link p:not(.linkButton), .alink p:not(.linkButton) {
    font-size: 14px;
    margin-top: 0;
    padding-left: 25px;
    font-weight: 500;
    transition-duration: 300ms;
    color: var(--text);
}
.link .date, .alink .date {
    position: absolute;
    bottom: 0;
    text-align: right;
    padding-right: 25px;
    color: var(--text);
}
.link.invis {
    transition-duration: 0s;
    pointer-events: none;
    opacity: 0;
}
.link:hover:not(.active) {
    box-shadow: var(--lBlue) 6px 6px 0px;
    transform: translate(-3px, -3px);
}

.alink {
    max-width: 400px;
    width: calc(100vw - 40px);
    height: 150px;
    background-color: var(--white);
    margin: 10px;
    border-radius: 30px;
    text-align: left;
    position: fixed;
    overflow: hidden;
    color: var(--black);
    cursor:auto;
    transition-duration: 300ms;
    box-shadow: black 0px 0px 20px;
    user-select: none;
}
.alink:not(.shrinking) img {
    height: 460px;
    position: absolute;
    object-fit: cover;
}
.alink:not(.shrinking) .topText {
    position: absolute;
}
.alink:not(.shrinking) h1 {
    font-size: 25px;
}
.alink:not(.shrinking) p {
    font-size: 17px;
    font-weight: 500;
}
.alink:not(.shrinking) .date {
    padding-right: 28px;
}
.linkButton {
    width: 150px;
    height: 40px;
    line-height: 40px;
    padding-left: 0px;
    border-radius: 20px;
    background-color: var(--lBlue);
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 20px;
    text-align: center;
    color: white;
    transition-duration: 300ms;
}
.linkButton:hover {
    background-color: var(--elBlue);
    transform: translate(0px, -10px);
    /* box-shadow: black 0px 0px 20px; */
}
@keyframes fadeAcross {
    0% { opacity: 0; transform: translate(20px, 0px); }
    100% { opacity: 1; transform: translate(0px, 0px); }
}

.changeItem {
    /* animation-name: fadeAcross; */
    animation-duration: 1s;
    animation-fill-mode: backwards;
}

.article {
    width: calc(95vw - 50px);
    max-width: 650px;
    background-color: var(--smoke);
    box-shadow: var(--lBlue) 5px 5px 0px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding: 25px;
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
    color: var(--text);
    transition-duration: 300ms;
}
.article h1 {
    font-size: 27px;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
}
.article h2 {
    margin-top: 0;
    color: var(--textlBlue);
    font-size: 15px;
    font-weight: 300;
    text-align: left;
}
.article h3 {
    margin-bottom: 5px;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
}
.article p {
    margin-top: 0px;
    font-size: 13px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
}
.article ul {
    margin-top: 0;
    font-size: 13px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    list-style-position: inside;
    list-style-type: disc;
}
.article ol {
    margin-top: 0;
    font-size: 13px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    list-style-position: inside;
    list-style-type: disc;
}
.article li a {
    color: var(--text);
    word-wrap: break-word;
}
.goHome {
    font-size: 13px;
    color: var(--textlBlue);
    transition-duration: 300ms;
    padding-left: 10px;
    padding-right: 10px;
    width: fit-content;
}
.goHome:hover {
    font-weight: 900;
    padding-left: 20px;
}
.article a, .ills a, .docsBody a {
    color: var(--textlBlue);
}
.article h4 {
    color: var(--textlBlue);
    margin-bottom: -18px;
    font-size: 22px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 300;
    margin-top: 0;
    text-align: left;
}
.article h5 {
    color: var(--textlBlue);
    margin-top: -8px;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 500;
    margin-bottom: 5px;
    text-align: left;
}
.article span {
    color: red;
    content: 'hi';
    padding-left: 5px;
    font-size: 10px;
}
.article input, .article textarea {
    width: calc(95vw - 50px - 6px - 40px);
    max-width: calc(650px - 6px - 40px);

    margin-left: 10px;
    margin-right: 10px;
    border: solid var(--elGrey) 3px;
    height: 20px;
    border-radius: 13px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Quicksand', sans-serif;
}
.article input:hover, .article textarea:hover {
    border: solid var(--textlBlue) 3px;
}
.article input:focus, .article textarea:focus {
    outline: none;
    border: solid var(--textlBlue) 3px;
}
.article textarea {
    padding-top: 5px;
    padding-bottom: 5px;
    height: 130px;
    resize: none;
}
.article button {
    float: right;
    background-color: var(--lBlue);
    border: solid var(--lBlue) 3px;
    color: white;
    width: 100px;
    height: 30px;
    border-radius: 18px;
    cursor: pointer;
    transition-duration: 300ms;
}
.article button:hover {
    background-color: var(--smoke);
    color: var(--text);
}
.article img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    border-radius: 20px;
    overflow: hidden;
}
.article img.logo {
    width: 50px;
    border-radius: 0;
    /* margin-bottom: 5px; */
}
.article img.small {
    width: 160px;
}
.article img.banner {
    width: calc(95vw - 50px - 20px);
    max-width: calc(650px - 20px);
    margin-bottom: 30px;
}
.article h6 {
    text-align: center;
    color: var(--textlBlue);
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 500;
}
.ills {
    /* background-color: pink; */
    width: 90vw;
    max-width: calc(750px + 7 * 20px);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: -10px;
}
.ills img {
    max-width: 250px;
    width: calc(90vw - 10px);
    margin: 20px;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
    transition-duration: 300ms;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: backwards;
}
.ills img:hover {
    filter: brightness(1.5);
    transform: translate(-5px, -5px);
    box-shadow: rgb(116, 116, 116) 5px 5px 0px;
}
.illsCover {
    background-color: rgba(0,0,0,0.8);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
}
.illsCover img {
    width: 90vw;
    max-width: 90vh;
    position: relative;
    top: 50%;
    transform: translate(0,-50%);
    cursor: pointer;
}
.stopScrolling {
    height: 100%;
    overflow: hidden;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
}
canvas {
    position: fixed;
    z-index: 1000;
    pointer-events: none;
    top: 0;
    left: 0;
}
.docsBody {
    /* background-color: green; */
    width: calc(95vw - 50px);
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    color: var(--text);
    margin-bottom: 50px;
    background-color: var(--smoke);
    box-shadow: var(--lBlue) 5px 5px 0px;
    border-radius: 20px;
    padding: 25px;
    transition-duration: 300ms;
}
.docsHead {
    /* background-color: red; */
    width: 100%;
}
.docsHead img {
    width: 50px;
    display: inline-block;
    vertical-align: middle;
}
.docsHead h1 {
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
}
.docsHead p {
    margin-top: 0;
    color: var(--text);
}
.docsList {
    /* background-color: blue; */
    text-align: center;
}
.docsList div {
    width: 100px;
    height: 100px;
    background-color: var(--white);
    border: rgb(141, 141, 141) 3px solid;
    display: inline-block;
    vertical-align: middle;
    margin: 8px;
}
.docsList div p {
    margin-top: 8px;
    font-size: 13px;
    color: var(--text);
    text-decoration: underline var(--text);
}
.docsList div i {
    color: var(--text);
    font-size: 40px;
    margin-top: 10px;
}
.darkToggle {
    float: right;
    vertical-align: top;
}
.darkToggle p {
    font-size: 12px;
    color: var(--acBlue);
    margin: 5px;
    margin-top: 15px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--acBlue);
    transition: .4s;
    border-radius: 34px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: var(--lBlue);
    transition: .4s;
    border-radius: 50%;
}
input:checked + .slider:before {
    transform: translateX(20px);
}
br { user-select: none; }