
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background: var(--elBlue); 
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--lBlue);
}

body {
    background-image: linear-gradient(var(--mGrey), var(--bgBlue));
    margin: 25px;
    background-attachment: fixed;
    
}

header {
    background-color: var(--lGrey);
    width: 800px;
    height: 60px;
    border-radius: 30px;
    margin: auto;
    text-align: center;
}

header div {
    color: var(--text);
    line-height: 60px;
    text-align: center;
    font-family: helvetica;
    height: 100%;
    width: 145px;
    display: inline-block;
    font-weight: bold;
    padding: 0;
    font-size: medium;
    transition-duration: 300ms;
}

.selected {
    text-decoration-line: underline;
    text-decoration-color: var(--elBlue);
    text-decoration-thickness: 2px;
}

header div:hover {
    background-color: var(--elBlue);
    color: var(--text2);
    font-size: large;
}

.logo {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 100%;
    box-shadow: 0px 0px 10px black;
}

.body {
    font-family: helvetica;
    width: 1050px;
    margin: auto;
    text-align: center;
    color: var(--text);
}
.body-small {
    width: 900px;
}

h1 {
    color: var(--elBlue);
}

h2 {
    color: var(--lBlue);
}

h3 {
    color: var(--elBlue);
}

h4 {
    color: var(--text2);
    background-color: var(--lBlue);
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 30px;
    line-height: 60px;
    text-align: center;
}

.h_image {
    padding: 0; 
    margin: 0;
}

div.website {
    background-color: var(--lGrey);
    border-radius: 20px;
    padding: 10px;
    height: 150px;
    width: 300px;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 300ms;
}
div.website:hover {
    box-shadow: 10px 7px 0px var(--lBlue);
}
div.website img {
    width: 150px;
    padding: 0;
}

div.website div {
    display: inline-block; 
    width: 140px;
    padding: 10px;
}

.website_icon_parent {
    display: inline-block;
    margin: 1%;
}

a {
    color: var(--text); 
    text-decoration: underline; 
    cursor: pointer;
}

.illustration {
    width: 300px;
    height: 300px;
    padding: 10px;
    cursor: pointer;
    transition-duration: 400ms;
    border-radius: 50%;
    outline: none;
    border: none;
}

.i_small {
    width: 200px;
    height: 200px;
    padding: 0px;
    cursor: pointer;
}

.illustration_big {
    width: 500px;
    height: 500px;
    float: left;
    box-shadow: 10px 10px 0px var(--lBlue);
}

.illustration:hover {
    filter: brightness(30%);
}

/* @media only screen and (max-device-width: 768px) {
    html , body {
        display: none;
        background-image: url("asset/back.png");
    }
} */

.scroll_window {
    width: 900px; 
    height: 500px; 
    margin: 0; 
    overflow: auto; 
    white-space: nowrap;
    display: inline-block; 
    vertical-align: middle;
    transition-duration: 300ms;
}
.scroll_window::-webkit-scrollbar {
    display: none;
  }
  
.scroll_MN {
    height: 99%;
    cursor: pointer;
}

.scroll_MN:hover {
    filter: brightness(50%);   
}

.scroll_button_parent{
    width: 30px; 
    height: 500px; 
    background-color: var(--lGrey); 
    text-align: center;
    cursor: pointer; 
    display: inline-block;
    vertical-align: middle;
    transition-duration: 300ms;
    margin: 0;
}
.scroll_button_parent:hover {
    background-color: var(--elGrey);
}
.scroll_button_icon {
    color: var(--elBlue); 
}
button {
    width: 200px;
    height: 50px;
    background-color: var(--lBlue);
    border: 0px;
    border-radius: 25px;
    color: var(--text2);
    font-weight: bold;
    font-size: medium;
    transition-duration: 300ms;
    cursor: pointer;
}

button:hover {
    background-color: var(--elBlue);
    font-size: large;
}
.button_2 {
    background-color: var(--lGrey);
    color: var(--text);
    width: 250px;
    margin: 10px;
}
.button_2:hover {
    background-color: var(--elGrey);
}
.button_3 {
    background-color: var(--lBlue);
    width: 250px;
    margin: 10px;
}
.button_4 {
    height: 40px;
    width: 120px;
    float: right;
    margin-bottom: 20px;
}
.download {
    background-color: var(--lGrey); 
    color: var(--text2);
    width: 500px; 
    margin: auto; 
    height: 150px; 
    border-radius: 30px; 
    padding: 60px 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/illustrations/10.png");
    background-size: 100%;
}
.external_icon {
    width: 70px;
    height: 70px;
    margin: 10px;
}
.more_info {
    text-align: left; 
    width: 700px; 
    margin: auto; 
    background-color: var(--lGrey);
    overflow: hidden;
    border-radius: 25px;
    display: none;
}
li a:hover, footer a:hover {
    color: var(--elBlue);
}
label {
    display: inline-block;
    color: var(--elBlue);
    font-weight: bold;
}
form {
    margin: auto;
    width: fit-content;
}
input {
    background-color: white;
    border: 3px solid var(--elGrey);
    outline: none;
    width: 150px;
    height: 10px;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    color: black;
}
textarea {
    background-color: white;
    border: 3px solid var(--elGrey);
    padding: 10px 20px 10px 20px;
    outline: none;
    width: 552px;
    height: 100px;
    resize: none;
    border-radius: 20px;
    font-size: 13px;
    font-family: arial;
}
input:focus, textarea:focus, input:hover, textarea:hover {
    border: 3px solid var(--elBlue);
    background-color: whitesmoke;
}
table.about {
    width: 80%;
    border-collapse: separate;
    border-spacing: 0 30px;
}
table.about tr {
    background-color: var(--lGrey);
}
table.about td:nth-child(odd) {
    background-color: var(--lGrey);
    color: var(--elBlue);
    text-align: right;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    line-height: 20px;
    vertical-align: top;
}
.subtext {
    color: red;
    font-size: 13px;
    line-height: 13px;
    margin-top: 0;
    font-weight: normal;
}
iframe {
    border: none;
    border-radius: 20px;
    overflow: hidden;
    transition-duration: 300ms;
    margin-left: 10px;
    margin-right: 10px;
}
iframe:hover {
    box-shadow: 10px 7px 0px var(--lBlue);
}
.icon_div {
    background-color: var(--lGrey);
    border-radius: 50px;
    width: fit-content;
    height: fit-content;
    margin: auto;
}
.footer {
    background-color: var(--lGrey);
    height: 80px;
    width: 600px;
    margin: auto;
    border-radius: 20px;
    overflow: hidden;
    font-family: arial;
}
.footerLinks a {
    margin: 20px;
    font-family: arial;
}
footer a {
    line-height: 40px;
}
.mn-table {
    margin: auto; 
    border-spacing: 20px 10px;
    text-align: left; 
}
.mn-table td:nth-child(1) {  
    text-align: right;
    vertical-align: top;
}
.mn-table td:nth-child(2) {  
    text-align: left;
    vertical-align: top;
    font-style: italic;
}
.quotes {
    width: 600px; 
    margin: auto;
}
.quotes i {
    color: var(--elBlue);
}
.quotes p {
    color: var(--lBlue);
}
ul.future li {
    margin-bottom: 10px;
    margin-top: 10px;
    color: var(--elBlue);
}